asyncengine-*.gem
doc/
.yardoc/
NOTES
BORRAME
*.sh
not_git/

ext/asyncengine/libuv/
ext/asyncengine/_OLD/
ext/asyncengine/Makefile
ext/asyncengine/*.so
ext/asyncengine/*.o
ext/asyncengine/*.a
ext/asyncengine/mkmf.log

lib/asyncengine/*.so

test/others/
