asyncengine-*.gem
doc/
.yardoc/
NOTES
BORRAME
*.sh
not_git/

ext/asyncengine/libuv/
ext/asyncengine/Makefile
ext/asyncengine/*.so
ext/asyncengine/*.o
ext/asyncengine/*.a
ext/asyncengine/mkmf.log
ext/asyncengine/*.OLD
ext/asyncengine/OLD/

lib/asyncengine/*.so
lib/asyncengine/*.OLD

test/others/
